# Visual Studio
*.db
*.opendb
*.vcproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filter
*.vcxproj.filters
*.sln

# Makefiles
Makefile
*.make

# Misc
*.txt
*.7z
*.zip
*.tar.gz

# Sublime text
*.sublime-project
*.sublime-workspace

# Directories we don't ever want to commit
bin
obj
ipch
release
Release
Debug
.vs
cov-int
c/docker/netcode.io
c/valgrind/netcode.io
docs
*.exe
